$font-family: "Open Sans", "Arial", sans-serif;

$font-weight-bold: 700;
$font-weight-regular: 400;

$main-color: #546cba;
$main-text-color: #000000;
$extra-text-color: #ffffff;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
